*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #000;
  color: #fff;
}
.outer-container{
  height: 100vh;
  width: 100vw;
}

.header-container{
  display: flex;
  justify-content: space-between;
  gap: 240px;
  padding: 10px;
  background: linear-gradient(10deg, #000, #fff);
}

.icon{
  margin: 10px;
  height: 25px;
  width: 30px;
  cursor: pointer;
}

.icon:hover{
  height: 30px;
  width: 30px;
}

.icon-dark-theme{
  filter: brightness(0) invert(1);
}

.title{
  font-size: 24px;
  margin-left: 7px;
  margin-top: 10px;
  color: aqua;
}

.header-items{
  font-size: 20px;
  display: flex;
}
.small-screen{
  display: flex ;
  margin-left: 10px;
}
.header-btn{
  border: 1px solid black;
  margin: 3px;
  align-content: center;
  padding: 2px 4px;
  text-align: center;
  cursor: pointer;
}

.large-screen {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.hidden{
  display: none;
}

.buttons{
  display: flex;
  gap: 50px;
  margin-top: 5px;
}
.large-screen-menu-buttons{
  padding: 5px 20px;
  background: transparent;
  cursor: pointer;
  border: 1px solid aqua;
  box-shadow: 0 0 10px #b648cc;
  font-size: 15px;
  border-radius: 20px;
  color: #0a1ed6;
}
.large-screen-menu-buttons:hover{
  font-size: 18px;
  box-shadow: -2px 0 10px #069499;
  background: #000;
  color: aqua;
}
.bg-changer{
  font-size: 17px;
  cursor: pointer;
}
.bg-changer:active{
  font-size: 20px;
}
.user{
  border: 1px solid #000;
  border-radius: 50%;
  padding: 5px 10px;
  background: linear-gradient(45deg, #b648cc, #46bcc0);
  color: aqua;
  cursor: pointer;
  margin-right: 10px;
}
.user:hover{
  font-size: 20px;
}

.lower-container{
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
/* sidebar */

.sidebar{
  width: 250px;
  height: 100vh;
  margin-left: 10px;
  border-right: 1px dotted aquamarine;
}

.my-fav-books{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  margin-top: 10px;
}
.all-fav-books{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.all-favs{
  display: flex;
  align-items: center;
  gap: 8px;
}
/* all colors */
.color1{
  height: 10px;
  width: 10px;
  background-color: #b648cc;
  border: 1px solid #fff;
  border-radius: 50%;
}
.color2{
  height: 10px;
  width: 10px;
  background-color: #4757e9;
  border: 1px solid #fff;
  border-radius: 50%;
}
.color3{
  height: 10px;
  width: 10px;
  background-color: #30e04d;
  border: 1px solid #fff;
  border-radius: 50%;
}
.color4{
  height: 10px;
  width: 10px;
  background-color: #bd1414;
  border: 1px solid #fff;
  border-radius: 50%;
}
.color5{
  height: 10px;
  width: 10px;
  background-color: #eff318;
  border: 1px solid #fff;
  border-radius: 50%;
}
.color6{
  height: 10px;
  width: 10px;
  background-color: #4303d8;
  border: 1px solid #fff;
  border-radius: 50%;
}
.color7{
  height: 10px;
  width: 10px;
  background-color: #90a184;
  border: 1px solid #fff;
  border-radius: 50%;
}
.color8{
  height: 10px;
  width: 10px;
  background-color: #000627;
  border: 1px solid #fff;
  border-radius: 50%;
}
.color9{
  height: 10px;
  width: 10px;
  background-color: #2bf303;
  border: 1px solid #fff;
  border-radius: 50%;
}
.color10{
  height: 10px;
  width: 10px;
  background-color: #03010a;
  border: 1px solid #fff;
  border-radius: 50%;
}

.grid-view{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}
/* dynamic */
.book-image{
  width: 160px;
  height: 200px;
  border: 1px solid #fff;
}
.book-title{
  font-size: 20px;
  margin-bottom: 10px;
}
.book-authors{
  font-size: 12px;
  margin-bottom: 10px;
  font-weight: normal;
  font-family: 'Courier New', Courier, monospace;
}
.book-publisher{
  font-size: 12px;
}
.book-publish-date{
  font-size: 10px;
}
.element-container{
  height: 200px;
  width: 400px;
  display: flex;
  /* align-items: center; */
  gap: 10px;
  border: 1px solid #fff;
}
.data-container{
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.small-screen {
  display: none;
}

.mid-screen {
  display: none;
}

.large-screen {
  display: none;
}

/* Show only small-screen elements on phone size */
@media screen and (width <= 600px) {
  .small-screen {
    display: flex; 
  }

  .mid-screen,
  .large-screen,
  .sidebar {
    display: none; 
  }

  .header-container{
    gap: 10px;
  }
  .bg-changer{
    margin-top: 10px;
    margin-right: 20px;
  }
}

/* Show only mid-screen elements on tablet size */
@media screen and (601px <= width <= 1024px){
  .mid-screen {
    display: flex;
  }

  .small-screen,
  .large-screen,
  .sidebar {
    display: none;
  }
  .bg-changer{
    margin-top: 10px;
  }
  
}

/* Show only large-screen elements on laptop & bigger screens */
@media screen and (min-width: 1025px) {
  .large-screen {
    display: flex;
  }

  .small-screen,
  .mid-screen {
    display: none;
  }

  .sidebar {
    display: block; 
    width: 400px;
  }
 
}
